body {
    background: url(background.jpeg) repeat;
    font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
}

h1 {
    text-transform: uppercase;
    color: #CCCF16;
    text-shadow: 2px 2px #18633E;
}

.page {
    width: 735px;
    margin: 0 auto;
}

.box {
    margin-top: 180px;
}

.card {
    background-color: #D76523;
    width: 735px;
    height: 375px;
    overflow: auto;
    border-radius: 15px;
    box-shadow: 2px 3px #18633E;
}

img {
    display: block;
    width: 204px;
    overflow: : auto;
    border-radius: 7px;
    box-shadow: 1.5px 1px #18633E;
}

.text {
    float: left;
    margin-left: 37px;
    margin-top: 20px;
    line-height: 10px;
    text-shadow: 0.5px 0.5px grey;
}

.menu {
    float: right;
    margin-right: 250px;
    width: 90px;
    height: 90px;
    color: #CCCF16;
    font-size: 150%;
    line-height: 32px;
    text-shadow: 1px 1px #18633E;
    text-align: center;
}

.button {
    list-style-type: none;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 11.5px 23px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: #18633E 0 1px 0;
    -moz-box-shadow: #18633E 0 1px 0;
    box-shadow: #18633E 0 0.5px 0;
    vertical-align: middle;
    text-align: center;
    width: 190px;
   }

.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }

.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }